/* style.css */

/* dropdown button and navList on pc screen*/
@media screen and (min-width: 601px) {
    #dropdownButton {
        display: none;
    }

    #navList {
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    #navList li {
        float: left;
    }

    #navList li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    #navList li a:hover {
        background-color: #111;
    }
    
}

/* dropdown button and navList on mobile screen*/
@media screen and (max-width: 600px) {
    #dropdownButton {
        display: block;
        background-color: lightblue;
        border-radius: 12px;
    }

    #navList {
        display: none;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
    
    #navList li {
        float: left;
        display: block;
        width: 100%;
    }
    
    #navList li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    #navList li a:hover {
        background-color: #111;
    }
}


body::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(images/bg.jpg) no-repeat center center;
    background-size: cover;
    z-index: -1; 
}

/* html, body {
    min-height: 100vh;
}*/


body {
    font-family: Arial, sans-serif;
    background-color: transparent;
    margin: 0;
    padding: 0 0 60px 0; /* Add padding to the bottom */
}

.carousel-style {
    width: 35%;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.7);

}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    color: #555;
}

.contact-info {
    font-weight: bold;
}

.section {
    margin-top: 20px;
}

.section h3 {
    margin-bottom: 10px;
    color: #333;
}

.section ul {
    list-style: disc;
    margin-left: 20px;
}

.section ul li {
    margin-bottom: 5px;
    color: #444;
}

.center-container {
    text-align: center;
}

.rounded-corner-image {
    border-radius: 10px; /* Adjust the value to control the curvature of the corners */
    display: block;
    margin: 0 auto;
}

header {
    background-color: #333333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
}